@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Alfa+Slab+One&family=Archivo+Black&family=Black+Ops+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Outfit:wght@100..900&display=swap');

*{
    font-family: Outfit;
}


.slider{
    -webkit-appearance: none;
    height: 100%;
    background: transparent;
}

.slider::-webkit-slider-thumb{
    appearance: none;
    width: 30px;
    min-height: 30px;
    background-image: url(/slide_icon.svg);
    background-repeat: no-repeat;
    background-size:cover ;
}