@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Supermercado+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "tailwindcss";

*{
    font-family: Outfit;
}

.slider{
    -webkit-appearance: none;
    height: 100%;
    background: transparent;
}

.slider::-webkit-slider-thumb{
    appearance: none;
    width: 30px;
    min-height: 30px;
    background-image: url(/slide_icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-layer{
    background-image: url(/bg_layer.png);
}